.accom-body {
  background: url('/images/dsc_0165.jpg') no-repeat center center fixed;
  background-size: cover;
}
.accom-home {
  .container {
    padding-top: $navbar-height + 15px;
    ul {
      li {
        a {
          color: #fff
        }
      }
    }
  }
}
