$brand-primary: rgba(157, 159, 57, .9);
$navbar-default-link-color: #333333;
$navbar-default-link-hover-color: #fff;
$navbar-default-bg: $brand-primary;
$navbar-default-brand-color: rgb(51, 51, 51);
$navbar-default-brand-hover-color: #fff;
$jumbotron-bg: $brand-primary;
$brand-info: #739335;
