.home {
	width: 100%;
	height: 100%;
	background: url('/images/dsc_0165.jpg') no-repeat center center fixed;
	.container{
		padding-top: $navbar-height + 10;
		.jumbotron {
			float: none;
			text-align: center;
			.img-responsive {
				height: 50%;
			}
		}
	}
}
.vertical-align {
  display: flex;
  flex-direction: row;
}

.vertical-align > [class^="col-"],
.vertical-align > [class*=" col-"] {
  display: flex;
  align-items: center;     /* Align the flex-items vertically */
  justify-content: center; /* Optional, to align inner flex-items
                              horizontally within the column  */
}
.usatf_certified {
	.container{
		.col-sm-2 {
			@media(max-width: $screen-md-min) {
				max-width: 30%;
			}
		}
	}
}
.course_info {
	background: url('/images/dsc_0149.jpg') no-repeat center center fixed;
	.container {
		padding-top: $navbar-height + 10;
	}
}
.race_information{
	min-height: 50%;
	p {
		padding-top: 15px;
	}
}
h1 {
	font-family: 'Archivo Black', sans-serif;
	text-align: center;
}
.closing_image {
	background: url('/images/dsc_0189.jpg') no-repeat center center fixed;
	height: 100%;
}
