.map-home {
	width: 100%;
	height: 100%;
	background: url('/images/dsc_0165.jpg') no-repeat center center fixed;
	.container{
		padding-top: $navbar-height + 10px;
    .kml {
      position: relative;
    	height: 80%;
    }
    .google-earth {
      padding: 5 5 5 5;
      text-align: center;
      width: 100%;
      background-color: #000;
      color: #fff;
    }
  }
}
