.navbar .navbar-nav {
    display: inline-block;
    float: none;
    font-family: 'Archivo Black', sans-serif;
}

.navbar .navbar-collapse {
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: $font-size-large;
}
.navbar-brand {
  display: inline-block;
  float: none;
  font-family: 'Archivo Black', sans-serif;
  font-size: $font-size-large;
}
