.race_day_body {
  background: url('/images/dsc_0165.jpg') no-repeat center center fixed;
  background-size: cover;
}
.race_day_home {
	.container{
    .section {
      background-color: #fff;
      margin-top: $navbar-height + 10;
      padding: 5px 10px 5px 10px
    }
	}
}
