<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="\">Gate2Gate Trail Run</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a href="/#race_details">About the Race</a></li>
        <li><a href="/race_day_info">Race Day Info</a></li>
        <li><a href="/interactive_map">Interactive Map</a></li>
        <li><a href="/accommodations">Accommodations</a></li>
        <li><a href="http://georesults.racemine.com/Start-2-Finish-Race-Management/events/2016/2016-gate-2-gate-25k50k/results">Results</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div><!--/.container-fluid -->
</nav>
