<html>
<head>
<title>Gate2Gate Trail Run | Accommodations</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/compiled.css">
</head>
<body class="accom-body">
  <% include ../partials/navbar.ejs %>
  <div class="accom-home">
    <div class="container">
      <div class="bg-primary" style="padding-left:10px">
        <h1>Accommodations</h1>
        <p>
          Consider spending a night either before or after the Gate2Gate Trail Run in one of the following motels or campgrounds.
        </p>
        <h2>
          Hotels
        </h2>
        <div class="row">
          <div class="col-md-6">
            <h3>Alachua</h3>
            <ul>
              <li>
                <a href="http://www.econolodge.com/hotel-alachua-florida-FL339">Econo Lodge Alachua</a> -
                <a href="tel:+13864622414">386-462-2414</a>
              </li>
              <li>
                <a href="http://www.qualityinn.com/hotel-alachua-florida-FL682">Quality Inn</a> -
                <a href="tel:+18004246423">800-424-6423</a> or
                <a href="tel:+13864622244">386-462-2244</a>
              </li>
              <li>
                <a href="http://www.travelerscampground.com">Travelers Campground</a> -
                <a href="tel:+13864622505">386-462-2505</a>
              </li>
            </ul>
            <h3>High Springs</h3>
            <ul>
              <li>
                <a href="http://www.gradyhouse.com/">Grady House B&amp;B</a> -
                <a href="tel:+13864542206">386-454-2206</a>
              </li>
              <li>
                <a href="http://www.highspringscampground.com/">High Springs Campground</a> -
                <a href="tel:+13864541688">386-454-1688</a>
              </li>
              <li>
                <a href="http://www.highspringsinn.com">High Springs Country Inn</a> -
                <a href="tel:+13864541565">386-454-1565</a>
              </li>
              <li>
                <a href="http://www.floridastateparks.org/oleno">O'Leno State Park Campground</a> -
                <a href="tel:+13864541853">386-454-1853</a>
              </li>
              <li>
                <a href="http://www.rusticinn.net/">Rustic Inn B&amp;B</a> -
                <a href="tel:+13864541223">386-454-1223</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6">
            <h3>Gainesville</h3>
            <ul>
              <li>
                <a href="http://www.gatewaygrand.com/">Best Western Gateway Grand</a> -
                <a href="tel:+18772210609">877-221-0609</a> or
                <a href="tel:+13523313336">352-331-3336</a>
              </li>
              <li>
                <a href="http://www.countryinns.com/gainesville-hotel-fl-32608/flgainvl">Country Inn &amp; Suites by Carlson</a> -
                <a href="tel:+18005962375">800-596-2375</a> or
                <a href="tel:+13523751550">352 375-1550</a>
              </li>
              <li>
                <a href="http://www.marriott.com/hotels/travel/gnvcy-courtyard-gainesville">Courtyard by Marriott</a> -
                <a href="tel:+18003212211">800-321-2211</a> or
                <a href="tel:+13523359100">352-335-9100</a>
              </li>
              <li>
                <a href="https://www.wyndhamhotels.com/days-inn/gainesville-florida/days-inn-gainesville-university/overview">Days Inn</a> -
                <a href="tel:+18003297466">800-329-7466</a> or
                <a href="tel:+13864623251">386-462-3251</a>
              </li>
              <li>
                <a href="http://www.econolodge.com/hotel-gainesville-florida-FL366">Econo Lodge West</a> -
                <a href="tel:+13523322346">352-332-2346</a>
              </li>
              <li>
                <a href="http://www.hamptoninnandsuitesgainesville.com">Hampton Inn &amp; Suites</a> -
                <a href="tel:+13522409300">352-240-9300</a> or
                <a href="tel:+18004267866">1-800-HAMPTON</a>
              </li>
              <li>
                <a href="http://www3.hilton.com/en/hotels/florida/hilton-university-of-florida-conference-center-gainesville-GVNCCHF/index.html">Hilton - University of Florida Convention Center</a> -
                <a href="tel:+13523713600">352-371-3600</a>
              </li>
              <li>
                <a href="http://hiltongardeninn3.hilton.com/en/hotels/florida/hilton-garden-inn-gainesville-GNVGFGI/index.html">Hilton Garden Inn</a> -
                <a href="tel:+13523381466">352-338-1466</a>
              </li>
              <li>
                <a href="http://www.theuniversityhotel.com">Holiday Inn - University Center</a> -
                <a href="tel:+13523761661">352-376-1661</a>
              </li>
              <li>
                <a href="http://homewoodsuites3.hilton.com/en/hotels/florida/homewood-suites-by-hilton-gainesville-GNVHWHW/index.html">Homewood Suites by Hilton</a> -
                <a href="tel:+13523353133">352-335-3133</a>
              </li>
              <li>
                <a href="http://www.lq.com/lq/properties/propertyProfile.do?ident=3DLQ669&propId=3D669">La Quinta</a> -
                <a href="tel:+13523326466">352-332-6466</a>
              </li>
              <li>
                <a href="http://www.lodgeatgainesville.com/">The Lodge at Gainesville</a> -
                <a href="tel:+18008438735">800-843-8735</a> or
                <a href="tel:+13523752400">352-375-2400</a>
              </li>
              <li>
                <a href="http://www.paramountplaza.com/">Paramount Plaza Hotel</a> -
                <a href="tel:+13523774000">352-377-4000</a> or
                <a href="tel:+18779929229">877-992-9229</a>
              </li>
              <li>
                <a href="http://www.marriott.com/hotels/travel/gnvgi-residence-inn-gainesville-i-75">Residence Inn</a> -
                <a href="tel:+13523712101">352-371-2101</a> or
                <a href="tel:+13522640000">352-264-0000</a>
              </li>
              <li>
                <a href="http://www.sleepinn.com/hotel-gainesville-florida-FL883">Sleep Inn</a> -
                <a href="tel:+13523764145">352-376-4145</a>
              </li>
              <li>
                <a href="http://www.marriott.com/hotels/travel/gnvsh-springhill-suites-gainesville">Spring Hill Suites by Marriott</a> -
                <a href="tel:+13523768873">352-376-8873</a>
              </li>
            </ul>
          </div>
        </div>
        <h2>Camping</h2>
        <p>
          O'Leno State Park and Paynes Prairie Preserve State Park both offer
          camping and are both about 20-30 minutes from the start of the race.
        </p>
        <ul>
          <li>
            <a href="https://www.floridastateparks.org/park/Oleno">O'Leno</a>
          </li>
          <li>
            <a href="https://www.floridastateparks.org/park/Paynes-Prairie">Paynes Prairie</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</body>
<% include ../partials/ga.ejs %>
</html>
