<html>
<head>
<title>Gate2Gate Trail Run | Home</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/compiled.css">
</head>
<body>
  <% include ../partials/navbar.ejs %>
  <div class="home">
    <div class="container">
      <div class="jumbotron">
        <div>
          <img class="img-responsive center-block" src="images/gate2gate.jpg" alt="Gat2eGate logo" />
          <p>
            SOLD OUT | October 22nd, 2016
            <br>2017 Race Registration will open in Spring 2017<br> San Felasco State Park, Gainesville, FL<br>
          </p>
        </div>
        <div class="fb-like" data-href="https://www.facebook.com/Sanfelascogate2gate" data-width="50" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        <a href="https://www.instagram.com/gate2gate_trail/?ref=badge"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
        <audio controls>
          <source src="audio/gate2gate_promo.mp3" type="audio/mpeg">
            Your browser does not support MP3!
        </audio>
      </div>
    </div>
  </div>
  <div class="course_info" id="course_info">
    <div class="container-fluid bg-primary">
      <div class="container">
        <h1>Course Information</h1>
        <div class="row">
          <div class="col-md-5">
            <p>
              The northern portion of San Felasco is home to miles of high-quality single-track mountain bike trails, open fields, and rolling hills. Our course incorporates all of these stunning characteristics. After the first 5 miles of the course, runners will transition into the double track hiking and birding trails of the southern portion of the park. The southern portion of the race will follow the blue trail loop back to the connector between the northern and southern areas of the park as runners return to the start.<br>
              Runners competing in the 25k will complete the circuit once and 50k runners will complete the circuit twice.
            </p>
            <p>
              Aid Station Locations <br> Loop 1: Mile 3.5 (The Island), 7.5 (South Gate), 12.25 (The Island), 15.75 (Start/Finish) 25k runners are done/drop bags for 50k runners <br>Loop 2: 19.25 (The Island), 23.25 (South Gate), 28 (The Island) , 31.5 (Start/Finish)
            </p>
            <p> Take a look at the course run by race organizer Patrick Gallagher on a training run using strava labs</p>
            <a href="http://labs.strava.com/flyby/viewer/#606185498?c=djm35w8w&z=E&t=1NM-fG&x=12vL" target="_blank" class="btn btn-info"><img src="http://labs.strava.com/assets/img/strava-labs-logo@2x.svg" alt="StravaLabsLogo"/></a>
            <p>Want to see the mile markers, take a look at our</p>
            <a href="/interactive_map" class="btn btn-info">Interactive Map!</a>
          </div>
          <div class="col-md-7">
            <img src="images/gate2gate_course.jpg" alt="Course Map" class="img-responsive"/>
          </div>
        </div>
      </div>
      <div style="min-height: 10px">
      </div>
    </div>
    <div style="min-height: 50%">
    </div>
  </div>
  <div class="race_information" id="race_details">
    <div class="container">
      <h1>About the Race</h1>
      <p>
        The Gate to Gate trail race will showcase some of the best trails that North Central Florida has to offer. The race begins in the northern region of the San Felasco Hammock Preserve State Park just outside of Alachua, Florida and only a few miles from I-75 or Gainesville.<br>
        As the Friends of San Felasco website states, "San Felasco Hammock was purchased under Florida's Environmentally Endangered Lands Program in 1974 due to its diversity of plants and geological features. Today at over 7,000 acres, it is one of the largest protected contiguous stands of mesic hammock in Florida." (<a href="http://www.sanfelasco.org/">http://www.sanfelasco.org/</a>)<br>
      </p>
    </div>
    <div class="container center-block">
      <h1 class="center-block">Registration Information</h1>
      <div class="row">
        <div class="col-md-4 col-md-offset-4">
          The 2016 Gate2Gate race is now sold out! Registration for next year’s race will open in Spring 2017.
          <a href="https://ultrasignup.com/register.aspx?did=38405"><img src="images/ultrasignup_logo.png" alt="Ultra Signup logo" /></a>
        </div>
      </div>
    </div>
  </div>
  <div class="closing_image">
  </div>
  <div class="usatf_certified">
    <div class="container">
      <div class="row vertical-align">
        <div class="col-sm-2">
            <img src="images/usatf_certified1.jpg" alt="USATF Certified image" class="img-responsive usatf_certified_img"/>
        </div>
        <div class="col-sm-10 center-block">
          <p>The Gate2Gate Trail Run is a USATF sanctioned event</p>
        </div>
      </div>
    </div>
  </div>
</body>
<% include ../partials/ga.ejs %>
</html>
