<html>
<head>
<title>Gate2Gate Trail Run | Map</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/compiled.css">
</head>
<body>
  <% include ../partials/navbar.ejs %>
  <div class="map-home">
    <div class="container">
      <div id="map" class="kml">
      </div>
      <div class="google-earth">
        Download KML to view in Google Earth <a href="https://s3.amazonaws.com/gate2gate/gate2gate_course.kml">here</a>
      </div>
    </div>
  </div>
</body>
<% include ../partials/ga.ejs %>
<script>
 function initMap() {
   var map = new google.maps.Map(document.getElementById('map'), {
     zoom: 11,
     center: {lat: 29.769430244341493, lng: -82.46201139874756}
   });

   var ctaLayer = new google.maps.KmlLayer({
     url: 'https://s3.amazonaws.com/gate2gate/gate2gate_browser.kml',
     map: map
   });
 }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.GOOGLE_API%>&callback=initMap">
</script>
</html>
