<html>
<head>
<title>Gate2Gate Course Info | Race day info</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/compiled.css">
</head>
<body class="race_day_body">
  <% include ../partials/navbar.ejs %>
  <div class="race_day_home">
    <div class="container">
      <div class="section">
        <h1>Race Day Info</h1>
        <ul>
          <li><a href="#time_location_parking">Time Location Parking</a></li>
          <li><a href="#aid_stations">Aid Stations</a></li>
          <li><a href="#race_directions">Race Directions</a></li>
          <li><a href="#time_limits">Time Limits</a></li>
          <li><a href="#post_race">Post Race</a></li>
        </ul>
      </div>
      <div class="section" id="time_location_parking">
        <h1>Time, Location, Parking</h1>
        <p>
          <h2>Time</h2>
          <p>
            The race will begin at 7:30am on October 22nd, 2016
          </p>
          <h2>Location</h2>
          <p>
            The race will start at the north entrance of <a href="https://goo.gl/maps/dBSGZpokwBG2">San Felasco State Park.</a><br>
            From I75
            <ol>
              <li>
                Take exit 399 for US-441 toward Alachua/High Springs.
              </li>
              <li>
                Take a left at the end of the off ramp
              </li>
              <li>
                Drive ~3 miles and take a right onto Progress Blvd, the destination will be on your right.
              </li>
            </ol>
          </p>
          <h2>Parking</h2>
          <p>
            Coming soon!
          </p>
        </p>
      </div>
      <div class="section" id="aid_stations">
        <h1>Aid stations</h1>
        <p>
          There are 3 aid stations on the course approximately 4 miles apart. <br><br>
          The aid stations will have simple food. If you have specific dietary requirements, you will need to provide for yourself.<br><br>
          <h3><b>**HYDRATION SAFETY NOTE**</b></h3>
          <p>
            Due to the heat and humidity and a concern for the well-being of all runners, <b>no one will be allowed to participate in the race without some form of hydration product (handheld bottle, vest, etc.) carried on their person</b>.<br><br>
            The aid stations will have Powerade and water, but you will need to hydrate in-between the aid stations during the race. There will only be very small cups at the aid stations for "shots" of soda and ginger ale. Please do not leave the aid station with the cups. Please dispose of the cups before leaving the aid station.
          </p>
          <b>Examples of aid station food:</b>
          <ul>
            <li>
              M&amp;M's
            </li>
            <li>
              Gummy Bears
            </li>
            <li>
              Bananas
            </li>
            <li>
              Potato chips
            </li>
            <li>
              Pretzels
            </li>
            <li>
              Pickles
            </li>
            <li>
              Boiled potatoes and salt
            </li>
            <li>
              PB&amp;J sandwiches
            </li>
            <li>
              Water
            </li>
            <li>
              Powerade
            </li>
            <li>
              Soda
            </li>
            <li>
              Ginger Ale
            </li>
          </ul>
          <b>Things we will not provide at aid stations:</b>
          <ul>
            <li>
              Advil or other pain killers (dangerous to use during endurance activities)
            </li>
            <li>
              Salt tabs
            </li>
            <li>
              Benadryl or other over-the-counter drugs
            </li>
          </ul>
          If you think you might need something along these lines, best to carry it yourself.
          <h2>Gels</h2>
          <p>
            This race is about showcasing the amazing natural resources that San Felasco Hammock Preserve contains. As trail runners we should be stewards for these amazing spaces we get to explore.
            To that end, <b>there will be be NO GELS provided during the race.</b><br>
            And as an extension, <b>we are requesting that runners do not use single-serving gel packets</b> during the race. Please. Even with the best intentions, they end up on the trail.
            It would be impossible to police this request, but we are hoping our runners will comply.<br>
            We recommend that you use a reusable gel flask (example below). You can fill the flask with packets you already have or you can purchase a large bag/bottle to fill your flask (much cheaper!). Flasks generally hold 5 packets worth of gel and the upside is you can consume less than a packet without all the mess.<br>
            <a href="https://www.amazon.com/GU-Original-Nutrition-Energy-Caramel/dp/B01CZ26JZ0/ref=sr_1_12_a_it">Gel multi-serving bags/bottles</a><br>
            <a href="https://www.rei.com/product/882085/hydrapak-softflask-150-gel-flask-5-fl-oz">Gel Soft Flask</a><br><br>
            We would also recommend getting a collapsible cup to help us reduce paper cup waste at the aid stations.<br>
            <a href="http://www.salomon.com/uk/product/soft-cup-150ml-5oz.html">Solomon Soft Cup</a><br>
          </p>
          <h2>Drop Bags</h2>
          <p>
            50k runners will be able to leave a drop bag at the start/finish and they will be able to access the drop bag at the 25k turn around point. Your drop bag should be relatively small and <b>have your name and bib number clearly marked</b> on it. We recommend using duct tape and a sharpie to mark your drop bags. A great drop bag would be those string-cinching backpacks. Cheap. Lightweight. Not too big. Just enough room for maybe a pair of shoes, socks, Body Glide, and a treat or two for the second lap. If you need more than that, you might want to consider stashing things in your car and making a plan to access your car.
          </p>
      </div>
      <div class="section" id="race_directions">
        <h1>Race Directions</h1>
        <h2>Course markings</h2>
        <p>
          The course will be VERY well marked. That being said, you still need to pay attention. You should familiarize yourself with the <a href="/interactive_map">map</a> and have a decent idea of the lay of the land of the course. There will be bright pink surveyors tape, flagging, and directional signs throughout the course. I can't say you won't get lost, but I can say we will do everything we can to make sure it is not likely you will get lost.
        </p>
      </div>
      <div class="section" id="time_limits">
        <h1>Time limits</h1>
        <p>
          <h2>Cut offs</h2>
          <p>
            The course will be open for <b>8 hours</b>. An official finish for either the 25k or 50k must be under 8 hours. Anyone finishing over the 8 hour limit will be listed as a DNF (Did Not Finish).
            There will be a 4 hour cut-off at the 25k point of the 50k. Only those who have gone through the 25k aid station by 11am will be allowed to continue out on the course for the 50k finish. Anyone arriving at the 25k aid station at the start/finish after 11am will be directed to the finish line and will be credited with a 25k finish.
            To finish the 50k you will need to average just under 15:30min/mile pace.
            50k Cut offs
            <ul>
              <li>
                12:30 Island (southbound)--you will be directed back to the start/finish. Your bib number will be recorded and you will be credited with a 25k finish.
              </li>
              <li>
                1:30 South Gate--you will need to get transportation back to the start or wait for a ride from staff when available.
              </li>
            </ul>
          </p>
          <h2>Drops</h2>
          <p>
            If you should decide to drop-out during the race, you will need to make it to an aid station (either the South Gate or The Island) and inform a volunteer that you are dropping. Please let me make this clear: You must inform a volunteer at an aid station and make sure they note that you are dropping. If you do not, then later you will not be accounted for and we will mount a search for you. We take your safety very seriously.
          </p>
        </p>
      </div>
      <div class="section" id="post_race">
        <h1>Post race</h1>
        <p>
          Stick around after the race to enjoy festvities including
          <ul>
            <li>
              Awards for 1st Male/Female overall and Masters
            </li>
            <li>
              Food trucks
            </li>
            <li>
              <a href="http://swamphead.com/">Swamphead brewery</a> beer garden (21+)
            </li>
            <li>
              Bicycle washing station that also doubles as an outdoor shower!
            </li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  <div style="min-height:50px">

  </div>
</body>
<% include ../partials/ga.ejs %>
</html>
