<html>
<head>
<title>Gate2Gate Registration</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/compiled.css">
</head>
<body>
  <% include ../partials/navbar.ejs %>
  <div class="registration_background">
    <div class="container">
      <div class="jumbotron">
        <h1>Registration will be done through <a href="https://ultrasignup.com/">UltraSignup.com</a></h1>
        <p>Check back soon for the direct link and more!</p>
        <div class="fb-like" data-href="https://www.facebook.com/Sanfelascogate2gate" data-width="50" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
        <a href="https://www.instagram.com/gate2gate_trail/?ref=badge"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>
      </div>
    </div>
  </div>
</body>
<% include ../partials/ga.ejs %>
</html>
